# Compiled class files
**/*.class

# Log files
**/*.log

# BlueJ files
**/*.ctxt

# Mobile Tools for Java (J2ME)
**/.mtj.tmp/

# VSCode settings (em qualquer pasta)
**/.vscode/

# IntelliJ IDEA settings (em qualquer pasta)
**/.idea/
**/*.iml

# Maven build directories (em qualquer pasta)
**/target/

# Eclipse files (em qualquer pasta)
**/*.classpath
**/*.project
**/.settings/

# Package Files
**/*.jar
**/*.war
**/*.nar
**/*.ear
**/*.zip
**/*.tar.gz
**/*.rar

# JVM crash logs
**/hs_err_pid*
**/replay_pid*

# System files
**/.DS_Store
**/Thumbs.db